</div>

<div class="bg-light text-center text-lg-start">

    <div class="footer text-center p-3" style="background-color: #1ABC9C;">
      <a class="text-dark">Made by nanu.</a>
    </div>

</div>

</body>

</html>